APP_NAME="EJTV Control Center"
ENVIRONMENT="development"
DEBUG=true

HOST="127.0.0.1"
PORT=8000

LOG_LEVEL="INFO"
LOG_DIRECTORY="../logs"

# Base local MaxMind GeoLite2 Country
GEOIP_DATABASE_PATH=data/geoip/GeoLite2-Country.mmdb
